<div class="card mb-4">
  <img class="card-img-top" src="<%= burger.image %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Nom</h5>
    <p><%= burger.name %></p>
    <p><%= burger.price %> €</p>
    <p><%= burger.description %></p>
    <%= image_tag "veggi.png", alt:"Veggie", class: 'img-fluid veggie' if burger.veggie %>
    <div class="button_montre_moi_ca">
      <p class="montre_moi_ca">
        <%= link_to "Montre moi ça", burger %>
      </p>
    </div>
  </div>
</div>
