<div id="<%= dom_id burger %>">
  <p>
    <strong>Image:</strong>
    
  </p>
  <img src="<%= burger.image %>">
  <p>
    <strong>Name:</strong>
    <%= burger.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= burger.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= burger.description %>
  </p>

  <p>
    <strong>Veggie:</strong>
    <%= burger.veggie %>
  </p>

</div>
