<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>

<div class="show_burger">
<%= render @burger %>
</div>

<div class="disposition_edit_sup">

  <%= link_to image_tag("modifier_burger.png", class: "modifier_burger"), edit_burger_path(@burger) %>

  <%= button_to image_tag("supprimer_burger.png", class: "supprimer_burger"), @burger, method: :delete, class:"destroy" %>

</div>

<%= link_to image_tag("retour_aux_burger.png", class: "retour_aux_burgers"), burgers_path %>
