<div id="<%= dom_id icecream %>">
  <p>
    <strong>Image:</strong>
    <%= icecream.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= icecream.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= icecream.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= icecream.description %>
  </p>

</div>
