
<div class="card mb-4">
  <img class="card-img-top" src="<%= icecream.image %>" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Nom</h5>
    <p><%= icecream.name %></p>
    <p><%= icecream.price %> €</p>
    <p><%= icecream.description %></p>
    <div class="button_montre_moi_ca">
      <p class="montre_moi_ca">
        <%= link_to "Montre moi ça", icecream %>
      </p>
    </div>
  </div>
</div>