<%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
<%= form_with(model: fry) do |form| %>
  <% if fry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fry.errors.count, "error") %> prohibited this fry from being saved:</h2>

      <ul>
        <% fry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="create_burger">
  <div id="form_burger">
    <div>
      <%= form.label :image, style: "display: block"%>
      <%= form.text_area :image, class:"form_zone"%>
    </div>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_area :name, class:"form_zone"%>
    </div>

    <div>
      <%= form.label :price, style: "display: block" %>
      <%= form.text_field :price, class:"form_zone" %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description, class:"form_zone2" %>
    </div>

    <div class="submit-button">
      <%= form.submit class:"submi-button"%>
    </div>
  </div>
</div>
<% end %>