<div id="<%= dom_id fry %>">
  <p>
    <strong>Image:</strong>
    <%= fry.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= fry.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= fry.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= fry.description %>
  </p>

</div>
