<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>
<p style="color: green"><%= notice %></p>

<%= render @fry %>

<div class="disposition_edit_sup">
  <%= link_to image_tag("modifier_frite.png", class: "modifier_burger"), edit_fry_path(@fry) %> 
  <%= link_to image_tag("retour_aux_frites.png", class: "retour_aux_burgers"), fries_path %>

  <%= button_to image_tag("supprimer_frite.png", class: "supprimer_burger"), @fry, method: :delete, class:"destroy" %>
</div>
