<!DOCTYPE html>
<html>
  <head>
    <title>Le Roi Du Burger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    @font-face {
      font-family: 'NomDeLaTypographie';
      src: url('../app/assets/font/Insanibu.woff2') format('woff2'),
           url('../app/assets/font/Insanibu.woff') format('woff');
    }
  </head>

  <body>
      <header>

          <div class="button_header">

          <%= image_tag "logo_roi_du_burger.png", alt:"Logo du Roi du Burger" %>

          <%= link_to "Voir les Glaces", icecreams_path, class: "creat_burger" %>

          <%= link_to "Voir les Burgers", burgers_path, class: "creat_burger" %>

          <%= link_to "Voir les Frites", fries_path, class: "creat_burger" %>

          </div>
      </header>
      <main class="container">
         <%= yield %>
      </main>
      <footer>
        <p class="txt_footer">&copy; 2024 Le Roi Du Burger. Tout droits réservé.</p>
      </footer>



</html>
