<!DOCTYPE html>
<html>
  <head>
    <title>Le Roi Du Burger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>
          <div class="img_header">
            <%= image_tag "logo_roi_du_burger.png", alt: "Logo du Roi du Burger" %>
          </div>

          <div class="button_header">
            <button>Create Burger</button>
            <button>View Burgers</button>
          </div>
      </header>
         <%= yield %>
</html>
