<!DOCTYPE html>
<html>
  <head>
    <title>Le Roi Du Burger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header>

          <div class="button_header">
            <button class="creat_burger">Create Burger</button>
            <%= image_tag "logo_roi_du_burger.png", alt:"Logo du Roi du Burger" %>
            <button class="view_burger">View Burgers</button>
          </div>
      </header>

         <%= yield %>
      <footer>
        <p class="txt_footer">&copy; 2024 Le Roi Du Burger. Tout droits réservé.</p>
      </footer>



</html>
